/*lightbox*/

.lightbox {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.lightbox-title{
  color: #db8876;
  text-align: center;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  color: #db8876;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
}

.lightbox__prev {
  right: auto;
  left: 0;
}

.lightbox__close {
  width: 25px;
  height: 25px;
  border: none;
  color: #db8876;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 12;
}

.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 90vh;
  flex-direction: column;
}

.lightbox__container img {
  margin: auto;
  max-width: 90%;
  height: 550px;
  animation: lightboxIn 0.5s;
  display: block;
  margin-top: 20px;
}

.lightbox__container video {
  display: none;
  margin: auto;
  max-height: 90%;
  width: 550px;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
