.media_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.media_section a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.media_section a img {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
}

.media_section a video {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
}

.info-media {
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 50px;
  border-radius: 5px;
  background-color: #db8876;
}
.info-media p {
  margin-bottom: 20px;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

.like-btn {
  width: 14px;
  height: 13px;
  appearance: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: #901c1c;
}

.like-btn:hover{
  color: #db8876;
  transition: 0.5s;
}

