/*modal*/

  #contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    overflow: auto;
  }
  
  .modal {
    border-radius: 5px;
    background-color: #db8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    z-index: 1;
    left: 33%;
    top: 10%;
    bottom: 10%;
    overflow: auto;
    width: 33%;
    height: 85%;
  }
  
  .modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }
  
  .modal header img {
    cursor: pointer;
  }
  
  .modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
  }
  
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form label {
    color: #312e2e;
    font-size: 25px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }
  
  form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
  
  #message {
    width: 100%;
    padding-bottom: 150px;
  }
  
  /* FIN MISE EN FORME MODAL */