#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.photograph-profile h2 {
  color: #db8876;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0;
}

.photograph-profile h3 {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}

.photograph-profile img {
  margin-top: 50px;
  border-radius: 125px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.contact_button {
  margin-top: 125px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.single-media-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  align-items: center;
}

.sort {
  margin-left: 90px;
  font-weight: 600;
}

#orderby {
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 135px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
}

