@import url("photographer.css");
@import url("media.css");
@import url("lightbox.css");
@import url("modal.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 0;
}

.photographer_section article img {
  border-radius: 125px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.photographer_section a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.photographer_section a h3 {
  color: #d3573c;
  font-size: 15px;
  margin-bottom: 0;
}

.photographer_section a .p1 {
  font-size: 15px;
  margin: 0;
  color: black;
}

.photographer_section a .p2 {
  color: #525252;
  font-size: 15px;
  margin-bottom: 0;
}
